import { Component, ChangeDetectionStrategy, Input } from '@angular/core';

@Component({
  selector: '<%= prefix %>-<%= dasherize(name) %>-view',
  templateUrl: './<%= dasherize(name) %>-view.component.html',
  styleUrls: ['./<%= dasherize(name) %>-view.component.scss'],
  changeDetection: ChangeDetectionStrategy.OnPush
})
export class <%= classify(name) %>ViewComponent {
  @Input() message?: string;
}
